DB_ADDRESS=your_secret_here in format {ip}:{port}
DB_NAME=your_secret_here
DB_USER=your_secret_here
DB_PASSWORD=your_secret_here
VPN_ENABLED=your_secret_here
VPN_HOST=your_secret_here
VPN_PORT=your_secret_here
DISCORD_BOT_TOKEN=your_secret_here
DISCORD_BOT_OWNER_ID=your_secret_here
DISCORD_BOT_MAIN_GUILD_ID=your_secret_here
DISCORD_CONTROL_PANEL_CHANNEL_ID=your_secret_here
DISCORD_INTERESTING_ANIME_CHANNEL_ID=your_secret_here
DISCORD_SILENT_ANIME_CHANNEL_ID=your_secret_here
DISCORD_LOG_CHANNEL_ID=your_secret_here